# 이 파일 이름을 .env로 수정하여 사용하세요.

# ============ OpenAI 사용 ============
USE_OPENAI=False # OpenAI API 사용 여부
OPENAI_MODEL=gpt-4o-mini # OpenAI API 모델 이름
API_KEY=your_api_key 


# ============ LocalLLM 사용 ============
API_MODEL=mode.gguf # 로컬 모델 이름
API_BASE_URL=http://api/base/url    # 로컬 모델 URL


# ============ Agent, Tool 서버 URL 설정 ============
# 고정값입니다. 수정할 경우 각 서버의 실행 Port도 변경해주어야 합니다.
TOOL_SERVER_URL=http://localhost:8002   
AGENT_SERVER_URL=http://localhost:8001
API_SERVER=http://apiserver



# ============ MCP 서버 접근 방식 설정 ============
MCP_TRANSPORT=stdio # MCP 서버 접근 방식. (sse | stdio) 실행 방식에 따라 설정. 기본값 : stdio
MCP_PATH=C:\Users\anaconda3\envs\mcp\python.exe # MCP 실행 파이썬 인터프리터 경로