# 이 파일 이름을 .env로 수정하여 사용하세요.

# ============ OpenAI 사용 ============
USE_OPENAI=False # OpenAI API 사용 여부
OPENAI_MODEL=gpt-4o-mini # OpenAI API 모델 이름
API_KEY=your_api_key 


# ============ LocalLLM 사용 ============
API_MODEL=mode.gguf # 로컬 모델 이름
API_BASE_URL=http://api/base/url    # 로컬 모델 URL
LOCAL_API_KEY= # 필요시 작성


# ============ Agent, Tool 서버 URL 설정 ============
AGENT_SERVER_URL=http://localhost:8001
API_SERVER=http://apiserver

# ============ Google Cloud Console에서 발급받은 앱 자격증명============
GOOGLE_OAUTH_CLIENT_ID= team_key
GOOGLE_OAUTH_CLIENT_SECRET= team_key
OAUTHLIB_INSECURE_TRANSPORT=1 # 고정값입니다. 보안이 필요한 경우 0으로 변경하세요.
